* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: sans-serif;
}

/*///////////////////NAVBAR//////////////////////////*/
nav {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 1rem;
}
.nav-buttons {
    display: flex;
    gap: 2rem;
    align-self: center;
    text-transform: uppercase;
    cursor: pointer;
}
nav a {   
    color: #202020;
    text-decoration: none;
}

/*///////////////////HERO//////////////////////////*/
.hero {
    position: relative;
}
.hero-img {
    margin: 60px 0 20px 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    transform: scalex(-1);
}
.hero-description {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 1rem;
    width: 90%;
}
.hero p, .hero h1 {
    margin: 6px 0;
}
.hero-date {
    font-size: 0.8rem;
}
.hero-info {
    font-size: 0.8rem;
    line-height: 18px;
}


/*///////////////////POSTS//////////////////////////*/
.post {
    padding: 0 20px;
}
.post-date {
    font-size: 0.7rem;
}
.post-info {
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.post p, h1 {
    margin: 9px 0;
}
.post-img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    border-radius: 3px;
}
.post-description {
    padding: 20px 0;
}

/*////POST TO READ////*/
.selected-post-description {
    padding: 80px 20px 0 20px;
}
.selected-post-description img {
    margin: 30px 0;
    width: 100%;
    height: 232px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;

}
.selected-post-description p {
    font-weight: 400;
    line-height: 20px;
}
.selected-post-description h1 {
    font-weight: bold;
    font-size: 1.8rem;
}
/*///////////////////MORE//////////////////////////*/
.view-more {
    font-weight: bold;
    color: #202020;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
    background-color: transparent;
    border: none;
}
.view-more span {
    border-bottom: 1px solid black;
}

/*///////////////////FOOTER//////////////////////////*/
footer {
    background-color: #202020;
    padding: 1rem;
    color: #FFFFFF;
    text-align: center;
}
footer p {
    margin: 5px;
    font-size: 0.75rem;
}
.footer-title {
    font-weight: bold;
}

/*///////////////////ABOUT//////////////////////////*/
#about {
    padding: 0 20px;
}
.about-description h1 {
    font-size: 2rem;
}
.about-description p {
    font-size: 1rem;
    line-height: 20px;
}
.avatar-img {
    width: 185px;
    height: 185px;
    margin-top: 80px;
}
.about-description span {
    font-weight:  bold;
}
.recent-posts {
    font-weight: 700;
    text-align: center;
    margin: 60px 0 0 0;
}

/*//////////////////////////////////////////////////////*/
/*/////////////////////MEDIA QUERIES////////////////////*/
/*//////////////////////////////////////////////////////*/

@media screen and (min-width:1085px) {
/*//////////////////////GRID/////////////////////////*/
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
/*///////////////////NAVBAR//////////////////////////*/
    nav {
        font-size: 0.8rem;
        padding: 1rem 3rem;
    }
/*///////////////////HERO//////////////////////////*/
    .hero-img {
        height: 90vh;
        object-position: center;
    }
    .hero p, .hero h1 {
        margin: 12px 0;
    }
    .hero-description {
        padding: 4rem;
        color: #FFFFFF;
        font-size: 1.3rem;
        width: 67%;
    }
    .hero-date {
        font-size: 0.9rem;
    }
    .hero-info {
        font-size: 0.9rem;
        line-height: 18px;
    }
    /*///////////////////POSTS//////////////////////////*/

    .post-date {
        font-size: 0.75rem;
    }
    .post p, h1 {
        margin: 9px 0;
    }
    .post-description {
        padding: 40px 0;
    }
    .post-info {
        font-size: 1rem;
        line-height: 20px;
    }
    /*////POST TO READ////*/
    .selected-post-description {
        padding: 80px 50px 0 50px;
    }
    .selected-date {
        font-size: 1rem;
    }
    .selected-post-description img {
        margin: 30px 0;
        width: 100%;
        height: 488px;
        object-fit: cover;
        object-position: center;

    }
    .selected-post-description p, .selected-post-description h1, .selected-post-description h4 {
        padding: 0 60px;
    }
    /**/
    .about-header {
        display: flex;
    }
    .about-header-desc {
        margin: 80px 150px 10px 50px;
    }
    .about-desc {
        padding: 20px 80px 0 80px;
    }
}